{
  "swagger": "2.0",
  "info": {
    "title": "KeyVaultAccess",
    "description": "Custom Connector to Retrieve Secrets from Azure Key Vault using OAuth2 Client Credential Flow (Service Principal). Be sure to give the Service Principal read access to Key Vault via RBAC.",
    "version": "1.0"
  },
  "host": "ppkv2966.vault.azure.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/secrets/ppsecret1/6fa00508f0424a8ca919faa1f100b992": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "GetSecret",
        "description": "GetSecret",
        "operationId": "GetSecret",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "number"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {},
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize"
    },
    "oAuthClientCredentials": {
      "type": "oauth2",
      "flow": "application",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2-auth": []
    }
  ],
  "tags": []
}